fastapi
uvicorn[standard]
jinja2
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
anytree
asgiref
attrs
alabaster
backoff
babel
bcrypt
beautifulsoup4
blinker
boto3
botocore
build
bullet
cachelib
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cliff
cmd2
colorama
colorclass
coloredlogs
compressed_rtf
configobj
configparser
cryptography
dataclasses-json
Deprecated
deprecation
distro
dnspython
docutils
email_validator
easygui
easyocr
ebcdic
exception
extract-msg
faiss-cpu
fastapi-cli
filelock
flask
flask-wtf
Flask-Bcrypt
Flask-Cors
Flask-login
Flask-JWT-Extended
Flask-Session
Flask-SQLAlchemy
flatbuffers
frozenlist
fsspec
gnupg
google-auth
googleapis-common-protos
gotrue
greenlet
grpcio
gunicorn
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
imageio
imagesize
importlib_metadata
importlib_resources
ipwhois
itsdangerous
jiter
jmespath
jsonpatch
jsonpointer
kubernetes
langchain
langchain-aws
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lark
lazy_loader
# logging
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
msgspec
msoffcrypto-tool
multidict
mypy-extensions
networkx
ninja
numpy
oauthlib
olefile
oletools
onnxruntime
openai
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pathlib
pcodedmp
pillow
platformdirs
pluggy
postgrest
posthog
prettytable
protobuf
psutil
psycopg2-binary
ptyprocess
pulsar-client
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyMuPDF
pyparsing
pypdf
PyPDF2
PyPika
python-bidi
python-dateutil
python-docx
python-dotenv
python-multipart
PyYAML
red-black-tree-mod
regex
requests
rich
rsa
scikit-image
scipy
SQLAlchemy
torch
torchvision
watchfiles
Werkzeug
WTForms
zipp